.field {
    display: flex;
    flex-direction: column;
    /* max-width: 100%; */
    width: 70%;
    margin: 1em 0;
}

.input,
.textarea {
    height: 2.5em;
    border-radius: 0.4375em;
    border: 1px solid #c4bbbb;
}

.textarea {
    resize: none;
    height: 5em;
}

.error {
    color: red;
    font-weight: bold;
}